.footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 76px;
}
.icon-socialMedias{
    font-size: 25px;
    margin: 0 30px 0 0;
    cursor: pointer;
    color: white;
}
.footerParagraph{
    color: white;
}
.footerParagraph a{
    color: black;
}