.footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 213px;
}
.icon-socialMedias{
    font-size: 25px;
    margin: 0 30px 0 0;
    cursor: pointer;
    color: white;
}
.content{
    flex-grow: 1;
}
.footerParagraph{
    color: white;
}
.footerParagraph a{
    color: black;
}