ul{
    font-size: 1.2rem;
}
.nav{
    display: flex;
}
#hamburguerMenu{
    font-size: 3em;
    color: white;
    display: none;
    cursor: pointer;
}
#close-hamburguer{
    font-size: 3em;
    color: white;
    cursor: pointer;
    display: none;
}
.link{
    padding-left: 20px;
    color: white;
}
.link:hover{
    transition: 2s;
    color: black;
}
@media only screen and (max-width: 600px){
    .show{
        display: none;
    }
    .nav{
        flex-direction: column;
    }
    .link{
        margin: 2px 3px;
    }
    #hamburguerMenu{
        display: block;
    }
    #container-navbar{
        display: flex;
    }
}