ul{
    font-size: 1.2rem;
}
.nav{
    display: flex;
}
#hamburguer{
    cursor: pointer;
    display: none;
}
.spanHamburguer{
    width: 50px;
    height: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 6px;
}
.show{
    display: block;
}
.link{
    padding: 0 25px 0 25px ;
    color: white;
}

.link:hover{
    transition: 2s;
    color: black;
}
@media only screen and (max-width: 600px){
    #hamburguer{
        display: block;
        position: relative;
        left: 30px;
    }
    .nav{
        display: none;
    }
    .show{
        display: flex;
        flex-direction: column;
    }
}